@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #0B3C5D;
    --secondary-color: #0B3C5D;
    --text-dark: #0f172a;
    --text-light: #94a3b8;
    --white: #ffffff;
    --max-width: 1400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.9),
            rgba(255, 255, 255, 0)),
        url("/assets/fondo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Añade un padding alrededor del contenido */
}

.container {
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo img {
    max-width: 70px;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
}

.search {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 2rem;
    transition: 0.3s;
}

.search input {
    width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
    outline: none;
    border: none;
}

.search input::placeholder {
    color: var(--secondary-color);
}

.search span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.login {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.login:hover {
    background-color: var(--secondary-color);
}

.login span {
    padding: 5px 8px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;
}

/*----*/
.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
    padding-left: 100px;
    padding-top: 150px;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(0%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 320px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;

  }
  .carousel img:first-child{
    margin-left: 0px;
  }
/*_----------*/



@media (width < 1200px) {
    .search {
        max-width: 235px;
    }

    .destination__container {
        grid-template-columns: 1fr;
    }
}


@media (width < 900px) {
    .nav__links {
        display: none;
    }

    .content {
        flex-direction: column;
        padding: 1rem;
        /* Ajusta el padding para dispositivos móviles */
    }

    .content h1 {
        font-size: 4rem;
    }

    .destination__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .content h1 {
        font-size: 3rem; /* Reducir aún más el tamaño del título en dispositivos muy pequeños */
    }
}